:root {
    --clr-dark: #444444;
    --clr-dark-acct: #2D2D2D;
    --clr-light: #FBFCD4;
    --clr-acct-main: #FBC403;
    --clr-acct-secondary: #FFDD03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-dark);
    font-family:Arial, Helvetica, sans-serif;
    color: var(--clr-light);
}

a {
    text-decoration: none;
    color: var(--clr-light);
}

/* header start */
header {
    padding: 20px 35px;
    background-color: var(--clr-dark-acct);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--clr-acct-main);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

header a {
    text-decoration: none;
    color: var(--clr-acct-main);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: lighter;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}
/* header end */

/* hero start */
.hero {
    background-image: url(./../images/2070527.jpg);
    background-size: cover;
    background-position: right;
    border: 4px solid var(--clr-acct-main);
    height: 20vh;
    width: auto;
    max-width: 95%;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
} 
/* hero end */

/* about me start */
.section-title {
    font-size: 2rem;
    text-align: center;
    margin: 10vh auto;
    border: 2px solid var(--clr-acct-main);
    padding: 1rem;
    width: fit-content;
    color: var(--clr-acct-main);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    font-weight: lighter;
}


.bio-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bio-div img {
    height: 300px;
    width: 300px;
    margin: 0 20px;
    border: 3px solid var(--clr-acct-main);
}

.bio {
    font-size: 1.5rem;
    width: 80%;
    max-width: 40rem;
    min-height: 300px;
    margin: 30px 20px;
    padding: 1rem;
    border: 2px solid var(--clr-acct-main);
}
/* about me end */

/* work section start */
.work {
    padding: 10px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-main {
    height: 50vh;
    width: 100%;
    border: 3px solid var(--clr-acct-main);
    margin: 20px 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.work-secondary {
    border: 3px solid var(--clr-acct-main);
    height: 25vh;
    width: 20%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.work h3 {
    font-weight: lighter;
    background-color: var(--clr-acct-main);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: var(--clr-dark);
}
/* work section end */

/* contact section start */
.contact-section {
   background-color: var(--clr-light);
   padding: 10px;
}

.contact-section p {
    color: var(--clr-dark);
    margin: 10px auto;
    text-align: center;
    font-size: 1.2rem;
}

.contact-section a {
    text-decoration: underline;
    color: var(--clr-dark);
    font-size: 1.2rem;
}

.contact-section span {
    font-weight: bolder;
    font-size: 1.5rem;
}

.secondary {
    color: var(--clr-dark);
    border-color: var(--clr-dark);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}