:root {
    --clr-dark: #1C0B19;
    --clr-accent: #8A897C;
    --clr-bright: #A0ECD0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-accent);
}

a {
    text-decoration: none;
}

header h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-right: 50%;
}

header nav {
    display: inline-block;
}

header a {
    color: var(--clr-accent);
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    flex: 5;
    flex-wrap: nowrap;
}